<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pocus</title>
    <link rel="icon" href="~/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        .nav-pills .nav-link.active {
            background-color: #777;
        }

        .btn-primary{
            background-color: #777;
        }

        .btn-primary,
        .btn-danger ,
        .profile-button {
            height: 40px;
            width: 250px;
            margin: 10px;
        }
    </style>

    @await RenderSectionAsync("Style", required: false)
</head>

<body>
    <div class="container">
		<main role="main" class="pb-3" style="margin-top: 40px;">
			<div class="row">
				@RenderBody()
			</div>
		</main>
	</div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
