<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pocus</title>
    <link rel="icon" href="~/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="~/css/account/loginSignup.css" asp-append-version="true">

    @await RenderSectionAsync("Style", required: false)
</head>

<body>
    <main class="center-blocks">
        <a href=" @Url.Action("MainPage", "Home")" class="block">
            <div class="logo-container">
                <img src="~/images/title.png" alt="App Logo" class="app-logo">
                <h1>Power Of Control</h1>
            </div>
        </a>

        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
