@section Style {
    <link rel="stylesheet" href="~/css/concentration/timerActive.css" asp-append-version="true">
}

<div class="overlay" id="overlay">
    <div class="modal" id="sessionModeContent">
        <div class="half-block" id="timerBlock">
            <div class="timer-block">
                <div id="timer" class="clock">
                </div>
            </div>
            <div class="buttons-block">
                <button class="session-button" id="pauseTimerButton">
                    <img src="~/images/pause.png" id="pauseButton" alt="Pause">
                </button>
                <button class="session-button" id="resetTimerButton">
                    <img src="~/images/reset_timer.png" alt="Reset">
                </button>
                <button class="session-button" id="exitTimerButton">
                    <img src="~/images/exit.png" alt="Exit">
                </button>
            </div>
        </div>

        <div class="half-block" id="contentBlock">
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/concentration/sessionActive/overlayController.js" asp-append-version="true"></script>
    <script src="~/js/concentration/sessionActive/contentBlocks.js" asp-append-version="true"></script>
    <script src="~/js/concentration/sessionActive/timerActive.js" asp-append-version="true"></script>
    <script src="~/js/concentration/sessionActive/updateRequests.js" asp-append-version="true"></script>
}