@page
@model StatisticModel

@section Style {
    <link rel="stylesheet" href="~/css/statistic.css" asp-append-version="true">
}

<div class="container">
    <div class="period-buttons">
        <button class="active" onclick="selectPeriod('day')">Day</button>
        <button onclick="selectPeriod('week')">Week</button>
        <button onclick="selectPeriod('month')">Month</button>
        <button onclick="selectPeriod('year')">Year</button>
    </div>

    <div class="content">
        <div class="charts-container">
            <div class="navigation-intervals">
                <button class="interval-button">Previous</button>
                <p id="intevalValue" class="interval-title">Current date</p>
                <button class="interval-button">Next</button>
            </div>

            <div class="chart">
                <canvas id="focusChart"></canvas>
            </div>
            <div class="chart">
                <canvas id="tasksChart"></canvas>
            </div>
        </div>

        <div class="stats-container">
            <table id="statisticsTable">
                <thead>
                    <tr>
                        <th>Statistic</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Total time</td>
                        <td id="totalTime"></td>
                    </tr>
                    <tr>
                        <td>Total done plans count</td>
                        <td id="totalTasks"></td>
                    </tr>
                    <tr>
                        <td>Average work time</td>
                        <td id="averageTime"></td>
                    </tr>
                    <tr>
                        <td>Average done plans number</td>
                        <td id="averageTasks"></td>
                    </tr>
                    <tr>
                        <td>Most productive time</td>
                        <td id="favoriteTime"></td>
                    </tr>
                    <tr>
                        <td>Maximum work time</td>
                        <td id="peakTime"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/statistics/dataGeneration.js" asp-append-version="true"></script>
    <script src="~/js/statistics/statistic.js" asp-append-version="true"></script>
}
