@model LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_IdentityLayout.cshtml";
}

<form asp-controller="Account" asp-action="ConfirmLogin" method="post" autocomplete="off" enctype="multipart/form-data">
    <div class="block">
        <h2>Login</h2>

        <label asp-for="Tag" class="form-label" placeholder="tag">Tag</label> @* @Localizer["Tag"] *@
        <input asp-for="Tag" class="form-control" />
        <span asp-validation-for="Tag" class="text-danger"></span>

        <label asp-for="Password" class="form-label" placeholder="password">Password</label> @* @Localizer["Password"] *@
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>

        <button id="login-submit" type="submit">Log in</button> @* @Localizer["Log in"] *@
    </div>
</form>

<div class="block">
    <p>Don't have an account? <a href="@Url.Action("Register", "Account")">Sign up</a></p>
</div>

@section Script {
    <script src="~/js/account/login.js" asp-append-version="true"></script>
}
