.navigation-panel {
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: auto;
    height: 85vh;
    min-height: 500px;
    min-width: 47px;
    max-width: 180px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    transition: max-width 0.3s ease, min-width 0.3s ease;
}

.navigation-panel ul {
    list-style: none;
    padding: 0;
}

.navigation-panel li {
    margin-bottom: 10px;
    transition: opacity 0.3s ease;
}

.navigation-panel a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}

.navigation-panel a:hover {
    color: #eee;
}

.navigation-panel:hover .round-button span {
    opacity: 1;
}

.navigation-panel.expanded {
    min-width: 180px;
    max-width: 180px;
}

.navigation-panel img {
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
}

.navigation-panel:hover img {
    filter: brightness(1.5);
}

.top-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.round-button {
    background-color: grey;
    border: 1px solid #333;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;
}

.round-button:hover {
    background-color:rgb(149, 149, 149);
    border: 1px solid #000;
}

.round-button span {
    width: 90px;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: calc(100% + 10px);
    transform: translateY(-50%);
    transition: opacity 0.3s ease;
}

.bottom-button {
    margin-top: auto;
}

.navigation-panel .round-button span {
    pointer-events: none;
}

.navigation-panel.expanded .round-button span {
    pointer-events: all;
}