.block.goals {
    height: calc(35% - 24px/2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.goal-item {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goal-label {
    font-weight: bold;
}

.goal-value {
    color: #333;
}

.central-block {
    width: 50%;
    position: relative;
}

.progress-bar {
    width: 100%;
    height: 30px;
    background-color: #ccc;
    margin-top: 8px;
    position: relative;
    border-radius: 15px;
}

.progress-bar::before {
    content: "";
    height: 100%;
    width: var(--progress-width, 0);
    max-width: 100%;
    background-color: #4caf50;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
}
