.block.select {
    height: calc(100% - 2px);
    flex-wrap: wrap;
}

.block-item {
    width: 100%;
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

h2 {
    font-size: 22px;
    height: 20px;
    margin: 5px 0px;
}

.half-line {
    display: flex;
    justify-content: center;
    width: 50%;
}

.notes-habits {
    height: 40%;
}

/* ------------------------ SELECT ITEM BLOCK ------------------------ */
.select-item {
    height: calc(25% - 90px);
    padding-bottom: 0;

    gap: 15px;
}

.select-block {
    height: 100%;
    width: auto;
    max-width: 80px;
    max-height: 80px;

    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 25px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;
    box-sizing: border-box;
}

.select-block img {
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
}

/* ------------------------ TASKS SETS BLOCK ------------------------ */
.task-sets {
    height: 35%;
    gap: 15px;
    overflow-y: auto;

    flex-wrap: wrap;
    align-content: flex-start;
}

.task-title-block {
    height: calc(33.33% - 30px/3);
    width: calc(20% - 60px/5);
    min-width: 100px;
    min-height: 50px;
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;
    box-sizing: border-box;
}

.task-title-block:hover,
.note-title-block:hover,
.select-block:hover {
    background-color: #e5e5e5;
}

.task-title-block.highlighted,
.note-title-block.highlighted,
.select-block:active {
    background-color: #ccc;
}

.task-title-block h3,
.note-title-block h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* ------------------------ NOTES BLOCK ------------------------ */
.notes-habits .note-sets {
    width: 50%;
    height: 100%;

    gap: 15px;
    overflow-y: auto;

    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-content: flex-start;
}

.note-title-block {
    height: calc(25% - 45px/3);
    width: calc(50% - 15px/2);
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;
    box-sizing: border-box;
}

/* ------------------------ HABITS BLOCK ------------------------ */
.notes-habits .habits-item {
    width: 50%;
    height: 100%;
    padding: 0px 15px;

    overflow-y: auto;

    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.habits-item input {
    width: 15px;
    height: 15px;
    margin: 5px 10px 0 0;
}

.habits-item p {
    font-size: 18px;
    margin: 3px 0 0 0;
    width: calc(100% - 25px);
    outline: none;
}

.habits-item .done-toggle {
    display: flex;
    margin-bottom: 5px;
}

.done-toggle p.line-through {
    text-decoration: line-through;
    color: #999;
}
