.block {
    box-sizing: border-box;
    width: calc(33.33% - 40px);
    min-width: 300px;
    height: calc(50%);
    min-height: 350px;

    display: inline-block;
    position: relative;

    margin: 0px 20px 40px 20px;
    padding: 20px;
}

.block h1 {
    text-align: center;
    font-size: 26px;
    margin: 0px;
}

.block h2 {
    font-size: 22px;
    margin: 0px;
}

.block label {
    display: block;
    font-weight: bold;
    font-size: 22px;
    margin-top: 5px;
}

.block .select-block {
    margin: 10px 0px;
    position: relative;
}

.block select {
    padding: 8px;
    margin-top: 5px;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.block select:hover {
    border-color: #999; 
}

.block select option:last-child {
    border-bottom: none;
}

.block select option:checked {
    background-color: #555;
    color: #fff;
}

/* Buttons */
.block .update-button {
    background-color: #333;
    color: #fff;
    padding: 12px 12px;
    cursor: pointer;
    position: absolute;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    border: 1px solid #ccc;
    bottom: 10px;
    left: 50%; 
    transform: translateX(-50%);
}

.block .update-button:hover {
    background-color: #555;
    border: 1px solid #555;
}