@section Style {
    <link rel="stylesheet" href="~/css/mainPage.css" asp-append-version="true">
}

<div class="center-blocks">
    <div class="block">Step 1</div>
    <div class="block">Step 2</div>
    <div class="block">Step 3</div>
    <div class="block">Step 4</div>
    <div class="block">Step 5</div>
    <div class="block">Step 6</div>
</div>

@section Scripts {

}