.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.period-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    width: 100%;
}

    .period-buttons button {
        height: 50px;
        width: 200px;
        padding: 10px 20px;
        margin: 10px 20px 0 20px;
        cursor: pointer;
        border: none;
        background-color: #ddd;
        border-radius: 10px;
    }

        .period-buttons button.active {
            background-color: #bbb;
        }

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.charts-container {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin: 10px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
}

.chart {
    margin: 0 0 10px 0;
}

.stats-container {
    flex: 1;
    margin: 10px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}
