body {
    user-select: none;
}

.center-blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block {
    width: 500px;
    height: auto;
    background-color: #eee;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.block h1 {
    margin: 0px;
}

.block h2 {
    margin: 0px 0px 20px 0px;
}

.block p {
    margin: 0px;
}

.form-floating{
    margin: 15px;
}

input {
    width: 420px;
    height: 40px;
    width: 100%;
    padding: 0px 15px;
    border-radius: 18px;
    border: 1px solid #333;
}

.text-danger {
    width: 100%;
    margin-left: 15px;
    color: rgb(213, 23, 23);
}

button {
    background-color: #333;
    color: #fff;
    width: 450px;
    height: 40px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 18px;
    border: 1px solid #ccc;
}

button:hover {
    background-color: #555;
    border: 2px solid #555;
}

a {
    text-decoration: none;
    color: #333;
}

.app-logo {
    width: 100px; 
    height: auto; 
    margin-right: 10px;
    margin-left: -50px;
    pointer-events: none;
}

.logo-container {
    display: flex;
    align-items: center;
}

.error-message {
    margin: -15px 0 15px 0 ;
    color: rgb(213, 23, 23);
}
